<div class="container">
    <form action="/searchMeme" enctype="multipart/form-data">
        <label for="memeTitle">Title</label>
        <input type="text" id="memeTitle" name="memeTitle" placeholder="The title of the meme">

        <select name="genreSelect" id="genreSelect">
                 {{#each tags}}
                    <option value="{{this}}">{{this.genreName}}</option>
                {{/each}}
                <option value="all">all</option><option value="RickAndMorty">RickAndMorty</option><option value="NotRickAndMorty">NotRickAndMorty</option>
            </select>
        <input type="submit" value="Submit">

    </form>
</div>